---
layout: default
---

<div id="main">
  {% for post in site.posts %}
  <article class="post">
    <header>
      <div class="title">
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p>{{ post.subtitle }}</p>
      </div>
      <div class="meta">
        <time class="published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        {% if post.author %}
        <a href="#" class="author"><span class="name">{{ post.author }}</span><img src="/images/avatar.jpg" alt="" /></a>
        {% endif %}
      </div>
    </header>
    
    {{ post.excerpt }}
    
    <footer> 
      <ul class="actions">
        <li><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="button big">Continue Reading</a></li>
      </ul>
      <ul class="stats">
        <li><a href="#">{{ post.categories }}</a></li>
      </ul>
    </footer>
  </article>

  {% endfor %}
</div>