html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

body {
  margin: 0;
  padding: 1em;
  font-family: "Abel", cursive;
  font-weight: normal;
  background: #9c9c9c; }

header {
  text-align: center;
  width: 100%; }
  header h1 {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    color: white; }

.row {
  margin: 0;
  margin-top: 1em; }

.center {
  text-align: center; }

.container {
  width: 60%;
  max-width: 80rem;
  padding: 2em;
  margin: 2em auto;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  background: #efefef; }
  .container h1 {
    font-size: 2em; }
  .container p {
    margin-top: 0.2em; }
  .container .active {
    font-weight: bold; }
  .container .search {
    position: relative;
    width: 90%;
    max-width: 90%;
    margin: 1em auto; }
    .container .search #searchfield {
      font-size: 1.5em;
      width: 100%;
      position: relative;
      padding: 0.4em; }
    .container .search .fa-search {
      position: absolute;
      right: 1.2em;
      top: 0.5em;
      color: #D3D3D3;
      font-size: 1.5em; }
  .container .tablelabel {
    text-align: left; }
  .container .movieblock {
    margin: 2em;
    padding: 2em;
    border: 1px solid #9a9a9a; }
    .container .movieblock .poster {
      text-align: center; }
      .container .movieblock .poster .gridposter {
        margin: 0 auto; }
    .container .movieblock .details {
      padding: 0 1em; }
      .container .movieblock .details .title {
        font-weight: bold;
        font-size: 2em; }
      .container .movieblock .details .year {
        font-style: italic; }
  .container .nav {
    text-align: right; }
  .container .gridcontainer {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 1em;
    overflow: hidden; }
    .container .gridcontainer .poster {
      float: left;
      padding: 0.3em;
      position: relative;
      overflow: hidden;
      height: 280px; }
      .container .gridcontainer .poster .img-responsive {
        max-height: 100%;
        width: auto; }

.mainContainer {
  width: 80%;
  padding: 1em auto; }

.loading {
  padding: 1em;
  color: #A0A0A0; }

.listContainer {
  padding: 5em; }
  .listContainer .column {
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: center; }

.overlaycontainer {
  width: 60%;
  max-width: 80rem;
  padding: 2em;
  margin: 2em auto;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  background: #f6f6f6; }
  .overlaycontainer .overlay {
    background: white;
    border: 1px black solid;
    padding: 2em; }
  .overlaycontainer .fa-close {
    position: absolute;
    top: 1em;
    right: 1em; }
  .overlaycontainer p {
    margin-top: 0.5em; }
  .overlaycontainer .title {
    font-size: 2em;
    font-weight: bold; }
  .overlaycontainer .year {
    font-size: 1em; }
  .overlaycontainer .tagline {
    font-style: italic;
    font-weight: bold; }
  .overlaycontainer .cast {
    overflow: hidden;
    position: relative; }
  .overlaycontainer .castname {
    text-align: center; }

/*# sourceMappingURL=app.css.map */
